<%= form_for(@front) do |f| %>
  <% if @front.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@front.errors.count, "error") %> prohibited this front from being saved:</h2>

      <ul>
      <% @front.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :img1 %><br>
    <%= f.text_field :img1, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img2 %><br>
    <%= f.text_field :img2, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img3 %><br>
    <%= f.text_field :img3, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img4 %><br>
    <%= f.text_field :img4, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img5 %><br>
    <%= f.text_field :img5, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img6 %><br>
    <%= f.text_field :img6, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img7 %><br>
    <%= f.text_field :img7, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img8 %><br>
    <%= f.text_field :img8, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img9 %><br>
    <%= f.text_field :img9, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :img10 %><br>
    <%= f.text_field :img10, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about, cols: 100, rows: 30 %>
  </div>
 <br> <div class="field">
    <%= f.label :company %><br>
    <%= f.text_area :company, cols: 100, rows: 8 %>
  </div>
  <br><div class="field">
    <%= f.label :services %><br>
    <%= f.text_area :services, cols: 100, rows: 20 %>
  </div>
  <br><div class="field">
    <%= f.label :dealer %><br>
    <%= f.text_field :dealer, size: 125 %>
  </div>
  <br><div class="field">
    <%= f.label :faq %><br>
    <%= f.text_area :faq, cols: 100, rows: 20 %>
  </div>
  <br><div class="field">
    <%= f.label :shop %><br>
    <%= f.text_area :shop, cols: 100, rows: 2 %>
  </div>
  <br><div class="field">
    <%= f.label :howm, 'How To Order' %><br>
    <%= f.text_area :how, cols: 100, rows: 20 %>
  </div>
  <br><div class="field">
    <%= f.label :contact, 'Contact Us' %><br>
    <%= f.text_area :contact, cols: 100, rows: 2 %>
  </div>
  <br><div class="field">
    <%= f.label :store_loc, 'Store Location' %><br>
    <%= f.text_area :store_loc, cols: 100, rows: 20 %>
  </div>
  <br><div class="actions">
    <%= f.submit %>
  </div>
<% end %>
