<h1>Edit your homepage!</h1>

<table>

  <tbody>
    <% @fronts.each do |front| %>
      <tr>
        
        <td><p>
  <strong>Img1:</strong>
  <%= front.img1 %>
</p><br>

<p>
  <strong>Img2:</strong>
  <%= front.img2 %>
</p><br>

<p>
  <strong>Img3:</strong>
  <%= front.img3 %>
</p><br>

<p>
  <strong>Img4:</strong>
  <%= front.img4 %>
</p><br>

<p>
  <strong>Img5:</strong>
  <%= front.img5 %>
</p><br>

<p>
  <strong>Img6:</strong>
  <%= front.img6 %>
</p><br>

<p>
  <strong>Img7:</strong>
  <%= front.img7 %>
</p><br>

<p>
  <strong>Img8:</strong>
  <%= front.img8 %>
</p><br>

<p>
  <strong>Img9:</strong>
  <%= front.img9 %>
</p><br>

<p>
  <strong>Img10:</strong>
  <%= front.img10 %>
</p><br>

<p>
  <strong>About:</strong>
  <%= front.about %>
</p><br>

<p>
  <strong>Company:</strong>
  <%= front.company %>
</p><br>

<p>
  <strong>Services:</strong>
  <%= front.services %>
</p><br>

<p>
  <strong>Dealer:</strong>
  <%= front.dealer %>
</p><br>

<p>
  <strong>Faq:</strong>
  <%= front.faq %>
</p><br>

<p>
  <strong>Shop:</strong>
  <%= front.shop %>
</p><br>

<p>
  <strong>How To Order:</strong>
  <%= front.how %>
</p><br>

<p>
  <strong>Contact Us:</strong>
  <%= front.contact %>
</p><br>

<p>
  <strong>store_loc:</strong>
  <%= front.store_loc %>
</p></td>
        
        
        <td><%= link_to 'Edit', edit_front_path(front) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>