<p id="notice"><%= notice %></p>

<p>
  <strong>Img1:</strong>
  <%= @front.img1 %>
</p>

<p>
  <strong>Img2:</strong>
  <%= @front.img2 %>
</p>

<p>
  <strong>Img3:</strong>
  <%= @front.img3 %>
</p>

<p>
  <strong>About:</strong>
  <%= @front.about %>
</p>

<p>
  <strong>Company:</strong>
  <%= @front.company %>
</p>

<p>
  <strong>Services:</strong>
  <%= @front.services %>
</p>

<p>
  <strong>Dealer:</strong>
  <%= @front.dealer %>
</p>

<%= link_to 'Edit', edit_front_path(@front) %> |
<%= link_to 'Back', fronts_path %>
