<p id="notice"><%= notice %></p>

<p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<% @order.line_items.each do |item| %>
	<p>
	  <strong>Product:</strong>
	  <%= item.product.title %>
	</p>
	<p>
	  <strong>Quantity:</strong>
	  <%= item.quantity %>
	</p>
	<p>
	  <strong>Total Price:</strong>
	  <%= item.total_price %>
	</p>
<% end %>

<p>
  <strong>Total:</strong>
  <%= @order.line_items.map(&:total_price).sum %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>
