<p id="notice"><%= notice %></p>

<p>

<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>
<br>
<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>
<br>
<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>
<br>
<strong>Product:</strong>
<% @order.line_items.each do |item| %>
	<p>
	  <%= item.quantity %>x <%= item.product.title %> (<%= item.quantity %> x <%= item.product.price %> = <%= item.total_price %>)
	</p>
<% end %>
<br>
<p>
  <strong>Total:</strong>
  P <%= @order.line_items.map(&:total_price).sum %>
</p>