<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @support.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @support.body %>
</p>

<p>
  <strong>Email:</strong>
  <%= @support.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @support.contact %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
