<% @fronts.each do |front| %>
  <div id="owl-demo" class="owl-carousel owl-theme  margin-bottom">
    <div class="item"><%= image_tag(front.img1) %></div>
    <div class="item"><%= image_tag(front.img2) %></div>
    <div class="item"><%= image_tag(front.img3) %></div>
    <div class="item"><%= image_tag(front.img4) %></div>
    <div class="item"><%= image_tag(front.img5) %></div>
    <div class="item"><%= image_tag(front.img6) %></div>
    <div class="item"><%= image_tag(front.img7) %></div>
    <div class="item"><%= image_tag(front.img8) %></div>
    <div class="item"><%= image_tag(front.img9) %></div>
    <div class="item"><%= image_tag(front.img10) %></div>
  </div> 
<div class="header2">
      <ul>
        <li>
          <div align="justify" style="margin-left: 40px">
            <h1>About Us</h1>
            <%= front.about.html_safe %>
          </div>
        </li>

        <li>
          <div align="justify" style="margin-left: 25px">
            <h1>Company</h1>
            <%= front.company.html_safe %>
            <h1>Like Us on FB!</h1>
    <a href="https://www.facebook.com/pages/Powermoto-Motorshop/201230659904144" target="_blank"><img src="../images/facebook.jpg" width="250px"></a>

          </div>
        </li>

        <li>
          <div align="justify" style="margin-left: 10px">
            <h1>Services</h1>
            <%= front.services.html_safe %>
          </div>
        </li>
      </ul>
    </div>

<% end %>