<div class="store">
<h1>Our Products</h1>
<% @fronts.each do |front| %>
<%= front.shop.html_safe %>
<% end %>
<br>

<div id="cart">
<%= render @cart %>
</div>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<br>
<% @products.each do |product| %>
<div class="entry">
<%= link_to image_tag(product.image_url), product.image_url, :target => "_blank" %>
<h3><%= product.title %></h3>
<div class="price_line">
<%= product.description %><br>
<span class="price">P <%= product.price %></span>
<%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
</div>
</div>
<% end %>
</div>