<!DOCTYPE html>
<html>
<head>
  <title>Powermoto</title>
    <%= stylesheet_link_tag "application", media: "all", 
 	"data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="css/components.css">
  <link rel="stylesheet" href="css/responsee.css">  
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="owl-carousel/owl.theme.css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
  <script type="text/javascript" src="js/modernizr.js"></script>
  <script type="text/javascript" src="js/responsee.js"></script>
  <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>

   <script type="text/javascript">
    $(document).ready(function() {     
    $("#owl-demo").owlCarousel({     
    navigation : true,
    slideSpeed : 300,
    paginationSpeed : 400,
    autoPlay : true,
    singleItem:true
    });
    });  
    
    $(document).ready(function() {     
    $("#owl-demo2").owlCarousel({
    items : 4,
    lazyLoad : true,
    autoPlay : true,
    navigation : true,
    pagination : false
    });     
    });   

    $(document).on('page:load', function() {     
    $("#owl-demo").owlCarousel({     
    navigation : true,
    slideSpeed : 300,
    paginationSpeed : 400,
    autoPlay : true,
    singleItem:true
    });
    });  
    
    $(document).on('page:load', function() {     
    $("#owl-demo2").owlCarousel({
    items : 4,
    lazyLoad : true,
    autoPlay : true,
    navigation : true,
    pagination : false
    });     
    });   
  </script>

   <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="size-960">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header>
      <div class="line">
        <div class="box">
          
            <img src="img/bike.png"><img src="img/samplelogo.png">
          
        </div>
      </div>
      <!-- TOP NAV -->  
      <div class="line">
        <nav class="margin-bottom">
          <p class="nav-text">Custom menu text</p> 
          <div class="top-nav s-12 l-10">
            <ul>
              <li><a href="/">Home</a></li>
			       <li><a href="/faq">FAQ</a>               
              </li>
              <li><a href="/shop">Shop</a>
                <ul>
                      <li><a href="/tire">Tire</a></li>
                      <li><a href="/helmet">Helmet</a></li>
                      <li><a href="/part">Part</a></li>
                      <li><a href="/accessory">Accessory</a></li>
                      <li><a href="/battery">Battery</a></li>
                      <li><a href="/oillube">Oil/Lube</a></li>
                      <li><a href="/other">Other</a></li>
                    </ul>
              </li>
			        <li><a href="/order">How to Order</a></li>
              <li><%= link_to 'Contact Us', supports_path %></li>
            </ul>



            </div>
            <div class=" hide-s l-2">
              <br>
            <div class="fb-like" data-href="https://www.facebook.com/pages/Powermoto-Motorshop/201230659904144" data-width="300" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
          </div>

            <% if session[:user_id] %>
            <div class="top-nav s-12 l-10">
            <ul>
              <li><%= link_to 'Admin', admin_path %></li>
              <li><%= link_to 'Orders', orders_path %></li>
              <li><%= link_to 'Products', products_path %></li>
              <li><%= link_to 'Users', users_path %></li>
              <li><%= link_to 'Edit Homepage', fronts_path %>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
            
            <% end %>

          </div>
          
        </nav>
      </div>
    </header> 



	<div class="line">
	  <%= yield %>
	</div>
  </div>
</body>
</html>