<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
  <meta charset="UTF-8">
  <title>Powermoto</title>

  <%= stylesheet_link_tag "application", media: "all", 
  "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

    <link rel="stylesheet" href="../owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="../owl-carousel/owl.theme.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>  
  <script type="text/javascript" src="../js/modernizr.js"></script>
  <script type="text/javascript" src="../js/responsee.js"></script>
  <script type="text/javascript" src="../owl-carousel/owl.carousel.js"></script>

   <script type="text/javascript">
    $(document).ready(function() {     
    $("#owl-demo").owlCarousel({     
    navigation : true,
    slideSpeed : 300,
    paginationSpeed : 400,
    autoPlay : true,
    singleItem:true
    });
    });  
    
    $(document).ready(function() {     
    $("#owl-demo2").owlCarousel({
    items : 4,
    lazyLoad : true,
    autoPlay : true,
    navigation : true,
    pagination : false
    });     
    });   

    $(document).on('page:load', function() {     
    $("#owl-demo").owlCarousel({     
    navigation : true,
    slideSpeed : 300,
    paginationSpeed : 400,
    autoPlay : true,
    singleItem:true
    });
    });  
    
    $(document).on('page:load', function() {     
    $("#owl-demo2").owlCarousel({
    items : 4,
    lazyLoad : true,
    autoPlay : true,
    navigation : true,
    pagination : false
    });     
    });   


  </script>


    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
    <script type="text/javascript" src="../js/jssor.core.js"></script>
    <script type="text/javascript" src="../js/jssor.utils.js"></script>
    <script type="text/javascript" src="../js/jssor.slider.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 0,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,                    //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideEasing: $JssorEasing$.$EaseLinear,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
                $SlideDuration: 3000,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                $SlideWidth: 140,                                   //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 100,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0,                           //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 7,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                              //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, default value is 1
                $DragOrientation: 1                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var bodyWidth = document.body.clientWidth;
                if (bodyWidth)
                    jssor_slider1.$SetScaleWidth(Math.min(bodyWidth, 980));
                else
                    window.setTimeout(ScaleSlider, 30);
            }

            ScaleSlider();

            if (!navigator.userAgent.match(/(iPhone|iPod|iPad|BlackBerry|IEMobile)/)) {
                $(window).bind('resize', ScaleSlider);
            }


            //if (navigator.userAgent.match(/(iPhone|iPod|iPad)/)) {
            //    $(window).bind("orientationchange", ScaleSlider);
            //}
            //responsive code end
        });
    </script>
  <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie.css">
  <![endif]-->
</head>
<body>
  <div id="header">
    <div>
      <a href="/" class="logo"><img src="images/logo.png" alt=""></a>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/faq">faq</a></li>
        <li><a href="/shop">shop</a>
          <ul>
            <li><a href="/tire">Tire</a></li>
            <li><a href="/helmet">Helmet</a></li>
            <li><a href="/part">Part</a></li>
            <li><a href="/accessory">Accessory</a></li>
            <li><a href="/battery">Battery</a></li>
            <li><a href="/oillube">Oil/Lube</a></li>
            <li><a href="/other">Other</a></li>
          </ul>
        </li>
        <li><a href="/order">How to Order</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li> <a href="https://www.facebook.com/pages/Powermoto-Motorshop/201230659904144" target="_blank"><img src="../images/like.png"></a></li>
      </ul>

    </div>
    <% if session[:user_id] %>
    <div class="navigation">
      <ul>
        <li><%= link_to 'Admin', admin_path %></li>
        <li><%= link_to 'Orders', orders_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        
        <li><%= link_to 'Edit Homepage', fronts_path %>
        <li><%= link_to 'Logout', logout_path, method: :delete %></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div id="body">

<% if notice %>
    <div class="header" style="padding:15px">

<p id="notice"><%= notice %></p>
</div>
<% end %>

      <div class="header" style="padding:15px">
    <%= yield %>
     </div>
    
    <% @fronts.each do |front| %>
  </div>
  <div id="footer">
    <div>
          <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 980px; height: 100px; overflow: hidden; ">

        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 980px; height: 100px; overflow: hidden;">
            <div><img u="image" alt="1" src="http://i.imgur.com/EcYKVkW.jpg" /></div>
            <div><img u="image" alt="2" src="../img/logo/New Folder/2.jpg"/></div>
            <div><img u="image" alt="3" src="../img/logo/New Folder/3.jpg"/></div>
            <div><img u="image" alt="4" src="../img/logo/New Folder/4.jpg"/></div>          
            <div><img u="image" alt="5" src="../img/logo/New Folder/5.jpg"/></div>
            <div><img u="image" alt="6" src="../img/logo/New Folder/6.jpg"/></div>
            <div><img u="image" alt="7" src="../img/logo/New Folder/7.jpg"/></div>
            <div><img u="image" alt="8" src="../img/logo/New Folder/8.jpg"/></div>
            <div><img u="image" alt="9" src="../img/logo/New Folder/9.jpg"/></div>
            <div><img u="image" alt="10" src="../img/logo/New Folder/10.jpg"/></div>
            <div><img u="image" alt="11" src="../img/logo/New Folder/11.jpg"/></div>
            <div><img u="image" alt="12" src="../img/logo/New Folder/12.jpg"/></div>
            <div><img u="image" alt="13" src="../img/logo/New Folder/13.jpg"/></div>
            <div><img u="image" alt="14" src="../img/logo/New Folder/14.jpg"/></div>
            <div><img u="image" alt="15" src="../img/logo/New Folder/15.jpg"/></div>
            <div><img u="image" alt="16" src="../img/logo/New Folder/16.jpg"/></div>
            <div><img u="image" alt="17" src="../img/logo/New Folder/17.jpg"/></div>

        </div>
        <a style="display: none" href="http://www.jssor.com">slideshow html</a>
    </div>
      <% end %>
    </div>
    <div class="section">
      <p>
        &copy; Dexter E. Ancheta, All rights reserved.
      </p>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/faq">faq</a></li>
        <li><a href="/shop">shop</a>

        </li>
        <li><a href="/order">How to Order</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li> <a href="https://www.facebook.com/pages/Powermoto-Motorshop/201230659904144" target="_blank"><img src="../images/like.png"></a></li>
        
      </ul>
    </div>
  </div>
</body>
</html>